ModularityPoster.pdf
*.aux
*.log
*.gz
*.ps
Modularity.graffle/data.plist
Modularity.graffle/image1.png
Modularity.graffle/image2.png
Modularity.graffle/image3.png
Modularity.graffle/image4.png
Modularity.graffle/image6.tiff
*.bbl
*.blg
*.dvi
sigplanconf-template.pdf
sigplanconf-template.tex
